---
import { fetchData, fetchDataBy, itemData } from "../../helpers/services";
import Layout from "../../layouts/Layout.astro";

const { id } = Astro.params;
const dataSubject = await fetchDataBy('users', id);
const dataRegisterSubject = await fetchDataBy('admin/subjects', id);
const dataRegisterReport = await fetchDataBy('admin/reports', id);

export async function getStaticPaths() {
  const data = await fetchData('users');
  return data.map((dt: any) => ({
    params: { id: dt.id_user },
  }));
}

const nameArray = dataSubject[0].user_name.split(' ');

const areaValue = await itemData(dataSubject[0].id_area, 'areas', 'area');
const roleValue = await itemData(dataSubject[0].id_role, 'roles', 'role');
const regionValue = await itemData(dataSubject[0].id_region, 'regions', 'region');

---

<Layout title="View" description="View page">
  <main class="w-full h-screen pl-[200px] flex flex-col gap-4 justify-center items-center pb-4">
    <section class="grid grid-cols-2 grid-rows-4 gap-4">
      <ul class="row-span-4 flex flex-col items-center justify-center w-[200px] border-1 border-gray-400">
        {nameArray.map((item: any, index: any) => (
          <li class="text-xl text-sky-800 text-center">{item}</li>
        ))}
      </ul>
      <div>{dataSubject[0].user_nick}</div>
      <div class="col-start-2">{areaValue}</div>
      <div class="col-start-2 row-start-3">{roleValue}</div>
      <div class="col-start-2 row-start-4">{regionValue}</div>
    </section>
    <section class="flex gap-4 text-sm">
      <section class="w-1/2 max-h-[500px] rounded-lg shadow-md overflow-auto">
        <table class="table-auto w-full text-left border-collapse">
          <thead class="bg-gray-500 text-center">
            <tr>
              <th class="px-2 py-2">Nro</th>
              <th class="px-4 py-2">Acci贸n</th>
              <th class="px-4 py-2">Tabla</th>
              <th class="px-4 py-2">Sujeto</th>
              <th class="px-4 py-2">Creaci贸n</th>
            </tr>
          </thead>
          <tbody class="overflow-auto">
            {
              dataRegisterSubject.map((item: any, index: any) => (
                <tr class="even:bg-gray-400 text-center font-light">
                  <td class="px-2 py-2 border-r">{index + 1}</td>
                  <td class="px-4 py-2 border-r">{item.action_audit_subject}</td>
                  <td class="px-4 py-2 border-r">{item.table_audit_subject}</td>
                  <td class="px-4 py-2 border-r">
                    {item.last_audit_subject.name_individual ?? item.last_audit_subject.name_collective}
                  </td>
                  <td class="px-4 py-2">{item.create_audit_subject}</td>
                </tr>
              ))
            }
          </tbody>
        </table>
      </section>
      <section class="w-1/2 max-h-[500px] rounded-lg shadow-md overflow-auto">
        <table class="table-auto w-full text-left border-collapse">
          <thead class="bg-gray-500 text-center">
            <tr>
              <th class="px-2 py-2">Nro</th>
              <th class="px-4 py-2">Acci贸n</th>
              <th class="px-4 py-2">Tabla</th>
              <th class="px-4 py-2">Informe</th>
              <th class="px-4 py-2">Creaci贸n</th>
            </tr>
          </thead>
          <tbody class="overflow-auto">
            {
              dataRegisterReport.map((item: any, index: any) => (
                <tr class="even:bg-gray-400 text-center font-light">
                  <td class="px-2 py-2 border-r">{index + 1}</td>
                  <td class="px-4 py-2 border-r">{item.action_audit_report}</td>
                  <td class="px-4 py-2 border-r">{item.table_audit_report}</td>
                  <td class="px-4 py-2 border-r">{item.id_user}</td>
                  <td class="px-4 py-2">{item.create_audit_report}</td>
                </tr>
              ))
            }
          </tbody>
        </table>
      </section>
    </section>
  </main>
</Layout>
